html, body {
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
	min-height: 100%;
	margin:0;
	padding:0;
}

.jumbotron {
	background-size: cover;
	background-image: url('website.jpg');
	background-position: bottom center;
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	height: 100vh;
	border-radius: 0px;
}

.jumbotron h1 {
	text-align: center;
	font-size: 90px;
	font-family: 'Roboto', sans-serif;
	color: white;
	vertical-align: middle;
	position: relative;
	font-weight: bold;
	top: 38%;
}

#typedOut {
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	vertical-align: middle;
	font-weight: bold;
	position: relative;
	top: 38%;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	border-right: .15em solid transparent; /* The typwriter cursor */
  	white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	animation: 
    	typing 4.0s steps(40, end),
    	blink-caret 1.1s step-end 2.0;
}

.nav {
	margin-top: -40px;
}

.nav-link {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}

.nav-link:hover {
	color: #F05F40;
	font-weight: bold;
}

#wrapper {
	margin: 0 auto;
	text-align: center;
	width:960px;
	position: relative;
	top: 28%;
}

#wrapper2 {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 5%;
}

button {

	margin-top: 20px;
	width: 175px;
	color: #F05F40;
	position: relative;
	height: 40px;
	text-align: center;
	background-color: transparent;
	border-radius: 37px; 
	border: 3px solid #F05F40;
	-moz-border-radius: 37px; 
	-webkit-border-radius: 37px;
	display: none;
}

button:hover {
	background-color: #F05F40;
	color: white;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:focus {
	outline: none;
}

#moreinfo {
	background-color: #F05F40;
	height: 75vh;
}

#moreinfo h1 {
	text-align: center;
	color: white;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 40px;
}

#firstColumn {
	text-align: center;
	position: relative;
	color: white;
}

#firstColumn img {
	height: 350px;
	width: 300px;
	visibility: hidden;
}

#secondColumn {
	text-align: center;
	position: relative;
	color: white;
	font-size: 25px;
	margin-top: 35px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}