.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('nyc.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.jumbotron .container {
  position: relative;
  top:40px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 60px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 25px;
  color: #fff;
  font-family: 'Shift', sans-serif;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.Aboutme {
    background-color: #B3CDE0;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
}

.Aboutme h2 {
    color: #393c3d;
    font-size: 24px;
    text-align: center;
}

.Aboutme p {
    font-size: 15px;
    margin-bottom: 13px;
    text-align: center;
}

.social h2 {
  text-align: center;
  color: #fff;
}

.social p {
  text-align: center;
  color: #fff;
}

.social h3 {
  text-align: center;
}

.social {
  background-color: #6497B1;
  width: 100%;
}

.caption p {
  color: #000000;
}

.social .container {
  text-align: center;
}