.jumbotron h1 {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-weight: bold; 
	color: #fff;
}

.jumbotron {
	background-color: #032A5E;
	background-position: fixed;
	background-attachment: fixed;
}

.Sports {
	font-family: 'Varela Round', sans-serif;
	text-align: center;

}

h1 {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-weight: bold; 
}