.jumbotron h1 {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-weight: bold; 
	color: #fff;
}

.jumbotron {
	background-color: #a32638;
	background-position: fixed;
	background-attachment: fixed;
}